.content-filter {
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
	position: relative;

	.form-group {
		flex: 1;
		max-width: 240px;
		margin-right: 20px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}