

.form-type-multi-select {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;

	.form-label-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.form-label {
		width: calc(50% - 15px);
	}

	.form-field-wrapper {
		display: flex;
		width: 100%;
		color: $text-color;
		line-height: 1.3;

		.separator {
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.option-selected {
			.option {
				&.is-new {
					&:after {
						content: "Just added";
						font-size: 11px;
						text-transform: uppercase;
						color: $brand-color;
						font-weight: 700;
						position: absolute;
						right: 7px;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				&.is-locked {
					&:after {
						@include font-icon;
						content: "\f200";
						color: $text-color;
						position: absolute;
						right: 7px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}

		.list-wrapper {
			flex: 1;
			background-color: #FBFBFB;
			border: 1px solid #d6d6d6;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 5px;
				height: 160px;
				overflow: auto;

				li {
					display: block;
					margin: 0;
					padding: 0;

					.option {
						padding: 5px 7px;
						margin: 0;
						display: block;
						position: relative;
						min-height: 18px;
						cursor: pointer;
						color: $text-color;

						&.is-selected {
							opacity: 0.5;
							pointer-events: none;
						}

						&:hover {
							background: $brand-color;
							color: #fff;

							&:after {
								color: white;
							}
						}
					}
				}
			}
		}
	}
}