.form-type-radio,
.form-type-checkbox, {

	&.form-styled {
		.form-options {
			display: flex;

			.form-option {
				margin: 0;

				&:first-child label {
					margin-left: 0;
				}

				&.is-selected {
					label {
						background-color: $brand-color;
						color: white;
					}
				}
			}
		}

		input {
			display: none;
		}

		label {
			display: block;
			line-height: 36px;
			min-width: 80px;
			text-align: center;
			padding: 0 15px;
			color: $brand-color;
			cursor: pointer;
			margin: 0 0 0 -1px;
			border: 1px solid $brand-color;

			.option-label {
				margin: 0;
			}
		}
	}

	label {
		display: flex;
		align-items: baseline;
	}

	input {
		display: inline-block;
		width: auto;
		height: auto;
		border: none;
		box-shadow: none;
	}

	.option-label {
		margin-left: 8px;
	}
}