.report-component{
  position:relative;
  height:calc(100vh - 100px);
  background:#fff;
  box-shadow:0 0 5px rgba(0,0,0,.5);
  z-index:100;
  padding:40px;
  overflow-y:scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0 !important }
}