.nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  z-index: 101;

  a {
    text-decoration: none;
  }

  .project-title {
    width:300px;
    max-width:350px;
    position: absolute;
    top: 11px;
    left: 150px;
    font-size: 14px;
    font-weight: 500;
  }

  [class*="icon-"] {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  .nav-link {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 34px 4px 28px;
    font-weight: 500;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    font-size: 15px;

    &:before {
      font-family: $icon-family-base;
      content: "a";
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(calc(-50% + 1px));
    }
  }

  .nav-close {
    background-color: $brand-color-dark;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-size: 10px;
    height: 26px;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .nav-logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 101px;
  }

  .menu {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0px;
    }
  }

  .hamburger {
    width: $hamburger-width;
    height: $hamburger-height;
    position: absolute;
    display: block;
    margin: 12px 10px;
    right: 0;
    top: 0;
    z-index: 200;

    [class^="line-"] {
      display: block;
      background: $text-color;
      width: $hamburger-width;
      height: $hamburger-line-height;
      position: absolute;
      left: 0;
      border-radius: 2px;
      transition: all 300ms, opacity 100ms;
      outline: 1px solid transparent;

      &.line-1 {
        top: 0;
      }

      &.line-2 {
        top: ($hamburger-height / 2 ) - ($hamburger-line-height / 2);
      }

      &.line-3 {
        bottom: 0;
      }
    }

    &.is-active {
      .line-1 {
        transform: translateY($hamburger-translateY) translateX(0) rotate(45deg);
      }

      .line-2 {
        opacity: 0;
      }

      .line-3 {
        transform: translateY($hamburger-translateY * -1) translateX(0) rotate(45deg * -1);
      }
    }
  }

  .main-nav {
    -webkit-overflow-scrolling: touch;
    background: #F1F1F1;
    height: 100%;
    opacity: 0;
    overflow-y: auto;
    padding: 9px 40px !important;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 350ms ease, visibility 350ms ease, transform 350ms ease;
    visibility: hidden;
    width: 80%;
    max-width: 400px;
    z-index: 102;
    text-align: right;
    border-left: 1px solid rgba(black, 0.2);
    transform: translateX(100%);
    list-style: none;

    &.is-open-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);

      .header-greeting {
        margin-top: 3px;
        margin-right: 4px;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: #808080;
      }
    }

    ul {
      list-style: none;
      padding-left: 0px;
    }

    .menu {
      margin: 30px 0 0;
      padding: 0;
    }

    .menu-item {
      margin: 15px 0;

      a {
        text-decoration: none;
        font-size: 34px;
        font-weight: 600;
      }

      &.border {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $brand-color-dark;
      }
    }

    .sub-menu {
      display: none;
    }

    .open-submenu > .sub-menu {
      display: block;
    }
  }
}

.text-fadeout{
  width: 300px;
  height:20px;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  position:relative;

  &::before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background: -moz-linear-gradient(left,  rgba(153,153,153,0) 0%, rgba(255,255,255,0) 74%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(153,153,153,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(153,153,153,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}
